.tieude {
    background-color: rgb(47, 146, 146);
    flex: auto;
    padding: 20px;
    font-size: 25px;
}

.tieude a {
    margin-left: 15px;
    margin-right: 15px;
}
.tieude span {
    margin-left: 15px;
    margin-right: 15px;
}

.tieude li {
    display: inline;
}

.tieude #s:hover {
    padding-bottom: 270px;
}

.chu {
    font-size: 0; /* Ẩn chữ ban đầu */
}

.container:hover .chu {
    font-size: 25px; /* Hiển thị chữ trong lớp chu khi di chuột qua container */
}
.container:hover .gone {
    font-size: 0px; /* làm cho chữ trong lớp gone bị ẩn khi di chuột qua container */
}



.banner{
    background: url(img/mope.gif); /* t ko biết t thấy nó trong sách nên thêm vô test thôi*/
    background-size: cover;
    width: 100%;
    padding-top: 12rem;
    padding-bottom: 12rem;
    text-align: center !important;
    color: red !important;
    text-shadow: 2px 2px 4px black, -2px -2px 4px black, 2px -2px 4px black, -2px 2px 4px black;

}
.slogan {

    background-color: rgb(52, 43, 131) !important;
    color: white;
    text-align: center !important;
    
    width: 100%;
    
    padding-right: 0.5rem;
    
    padding-left: 3rem;
    
    padding-top: 7rem;
    
    padding-bottom: 7rem;
    
    }
    
    .row {    
    display: flex;    
    flex-wrap: wrap;    
    margin-top: -1;    
    max-width: 100%;    
    padding-right: 3rem;
    padding-left: 3rem;    
    }
    
    .block_3 {
    flex: 1100 auto;    
    width: 33.33333333%;    
    }
.footer{
    background-color: dimgrey;
    flex: auto;
}

/* Đảm bảo có hiệu ứng chuyển màu mượt mà */
.text-b {
    transition: color 0.3s ease;
  }
  
  /* Khi di chuột vào chữ A bên ngoài, chữ B trong bảng đổi màu */
  .to1:hover ~ table .to1doimau {
    color: red;
  }
  .to2:hover ~ table .to2doimau {
    color: red;
  }
  .to3:hover ~ table .to3doimau {
    color: red;
  }
  .to4:hover ~ table .to4doimau {
    color: red;
  }
